.card {
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1) !important;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  }
}

.block_tool {
  width: 50px;
  height: 30px;
  border-left: 1px solid #cecece;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  i {
    transform: translateY(40%);
  }

}

.tool {
  position: absolute;
  top: -25px;
  right: -5px;
  display: inline-block;
  cursor: pointer;

  &:hover .tool-container {
    display: block;
  }

}

.col-lg-3 {
  position: relative;
}

.tool-container {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.wait-border {
  border-left: 7px solid #f39c12;
}

.proposal-border {
  border-left: 7px solid #59abe3;
}

.win-border {
  border-left: 7px solid #36d7b7;
}

.loose-border {
  border-left: 7px solid #d24d57;
}
