<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Tableau de bord</h1>
</div>


<div class="row">

  <div class="col-lg-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <div class="widget">
          <small class="h3">Job Applied {{opportunity.wait.count}}</small>
          <!-- <h2 class="text-xxl mt-2">{{opportunity.wait.total | currency:'EUR'}}</h2> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <div class="widget">
          <small class="h3">In progress {{opportunity.proposal.count}}</small>
          <!-- <h2 class="text-xxl mt-2">{{opportunity.proposal.total | currency:'EUR'}}</h2> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card shadow">
      <div class="card-body text-center">
        <div class="widget">
          <small class="h3">Completed {{opportunity.win.count}}</small>
          <!-- <h2 class="text-xxl mt-2">{{opportunity.win.total | currency:'EUR'}}</h2> -->
        </div>
      </div>
    </div>
  </div>

</div>
