<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Opportunité</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a [routerLink]="['/admin/opportunity']" class="btn btn-sm btn-secondary mr-2 shadow-sm">
        <i class="fas fa-chevron-left"></i>
        retour
      </a>
    </div>
  </div>
</div>

<div class="row mb-3">
  <section class="col-sm-12">
    <div class="wizard">

      <ul class="nav nav-wizard">

        <li [ngClass]="{'active': information.phase === 1}">
          <a>In progress</a>
        </li>

        <li [ngClass]="{'active': information.phase === 2}">
          <a>Proposer</a>
        </li>

        <li [ngClass]="{'active': information.phase === 3}">
          <a>Profit</a>
        </li>

        <li [ngClass]="{'active': information.phase === 4}">
          <a>loss</a>
        </li>

      </ul>

    </div>
  </section>
</div>

<div class="row">

  <div class="col-lg-4">

    <div class="list-group shadow-sm">
      <div class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between mb-2">
          <h5 class="mb-1">Information</h5>
        </div>
        <p class="mb-1">
          nom de l'opprotuntié:
          <b>{{information.title}}</b>
        </p>
        <p class="mb-1">
          Description:
          <b> {{information.description}}</b>
        </p>
        <p class="mb-1">
          steps:
          <b> {{information.step}}</b>
        </p>
        <p class="mb-1">
          Date de fin:
          <b> {{information.dateFin}}</b>
        </p>
      </div>
    </div>

  </div>

  <div class="col-lg-8">
    <form #f="ngForm" (submit)="validateQuote(f)" class="card shadow-sm" novalidate>
      <div class="card-header bg-info text-white">
        <div class="row">
          <div class="col-10">
            Produit(s) de l'opportunity
          </div>
          <div class="col-2 text-right">
            <i (click)="addItem()" class="fas fa-plus-circle"></i>
          </div>
        </div>

      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover text-center">
          <thead>
          <tr>
            <th scope="col">Produit</th>
            <th width="150px;" scope="col">Prix unitaire</th>
            <th width="150px;" scope="col">Quantité</th>
            <th width="110px;" scope="col">Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of lines">
            <td>
              <select  [(ngModel)]="item.name" *ngIf="products" class="form-control" name="select" id="select">
                <option *ngFor="let item of products" [value]="item.id">{{item.name}}</option>
              </select>
            </td>
            <td>
              <input [(ngModel)]="item.pu" name="item.pu" class="form-control" type="number" [value]="item.pu">
            </td>
            <td>
              <input [(ngModel)]="item.qt"  name="item.qt" class="form-control" type="number" [value]="item.qt">
            </td>
            <td>
              <input class="form-control" type="number" disabled="disabled" [value]="item.pu * item.qt">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-info btn-sm">Valider les lines</button>
      </div>
    </form>
  </div>

</div>
