<div class="modal fade" [class.show]="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" [class.modal-lg]="" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productGroup" class="needs-validation" (submit)="addContact()" novalidate>
          <div class="row">

            <div class="col-md-6 mb-3">
              <label for="firstName">Nom du produit</label>
              <input type="text" class="form-control" [formControl]="name" name="firstName" id="firstName">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="lastName">Tarif</label>
              <input type="text" class="form-control" [formControl]="prix" id="lastName" name="lastName">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button (click)="save()" type="button" class="btn btn-primary">Ok</button>
        <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
      </div>
    </div>
  </div>
</div>
